.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1.2em;
    background-color: #333;

    /*border-top: 2px solid #333;*/
}

.box_contato{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 2em;

    /*border: 1px solid #333;*/
}

.box_contato .btn{
    text-decoration: none;
    background-color: #fff;
    color: #222;
    padding: .7em 1.2em;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
}

.box_contato .btn:hover{
    background-color: blue;
    color: #fff;
}